@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    display: inline-flex;
    animation: slide 20s linear infinite;
  }
  
  .logo
  {
    font-family: "Audiowide", sans-serif;

  }